.crop-area {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}

avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;

  div, img {
    border-radius: inherit;
  }

  img {
    width: 100%;
    height: 100%;
  }

  md-icon {
    width: 100%;
    height: 100%;
  }
}
