@font-face {
  font-family: Brandon;
  src: url("/fonts/Brandon_med.eot");
  src: url("/fonts/Brandon_med.ttf") format("truetype"), url("/fonts/Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: Brandon;
  font-weight: bold;
  src: url("/fonts/Brandon_bld.eot");
  src: url("/fonts/Brandon_bld.ttf") format("truetype"), url("/fonts/Brandon_bld.otf") format("opentype");
}

body {
  font-family: 'Brandon', serif;
}

input {
  font-family: 'Brandon', serif;
}

.md-headline,
.md-title,
.md-display-1,
.md-display-2,
.md-display-3,
.md-display-4 {
  text-transform: uppercase;
}
